[run]
source = gtimelog
omit =
    src/gtimelog/main.py
    src/gtimelog/paths.py
    src/gtimelog/utils.py
    src/gtimelog/secrets.py
    src/gtimelog/debian-paths.py
    src/gtimelog/tests/*
cover_pylib = False

[report]
exclude_lines =
    pragma: nocover
    if __name__ == '__main__':
    except ImportError:
    except NameError:
