gtimelog.egg-info
dist
build
temp
.coverage
*.py[co]
tmp/
.tox/
.pc/
gtimelog.1
gtimelogrc.5
gtimelogrc.sample
*~
tags
coverage.xml
locale
gschemas.compiled
src/gtimelog/experiment-gtk3.10.ui
src/gtimelog/preferences-gtk3.10.ui
