language: python
dist: xenial
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
install:
  - pip install coverage coveralls coverage-python-version
  - pip install freezegun mock
  - pip install --no-deps -e .
script:
  - coverage run -m gtimelog.tests
after_success:
  - coveralls
notifications:
  email: false
