language: python
dist: xenial
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - pypy
  - pypy3
install:
  - pip install coverage coveralls coverage-python-version -cconstraints.txt
  - pip install freezegun mock flake8
  - pip install --no-deps -e .
script:
  - coverage run -m gtimelog.tests
  - flake8 src setup.py gtimelog runtests
after_success:
  - coveralls
notifications:
  email: false
