# Example configuration file for GTimeLog
# Place it in ~/.gtimelog/gtimelogrc

[gtimelog]

# Your name in activity reports
name = Anonymous

# Email to send activity reports to
list-email = activity@example.com

# Command to launch a mailer.  %s is replaced with a name of a temporary
# file containing the activity report as a RFC-2822 message.  If there is
# no '%s', the draft file name is appended to the command.
mailer = x-terminal-emulator -e mutt -H %s

# Command to launch an editor.  %s is replaced with the name of the time log
# file; if there is no '%s', the name of the log file is appended.
editor = gvim

# User interface: True enables drop-down history completion (if you have PyGtk
# 2.4), False disables and lets you access history by pressing Up/Down.
gtk-completion = False

# Do you want a systray icon?
show_tray_icon = yes

# Do you prefer the old systray icon (that shows time taken for the current
# task next to the icon), or the new one (just the icon)?
prefer_old_tray_icon = yes

# How many hours' work in a day.
hours = 8

# When does one work day end and another begin
virtual_midnight = 02:00

