[Desktop Entry]
Name=Time Log
Name[lt]=Laiko žurnalas
Comment=Track and time daily activities
Comment[lt]=Sekite kasdieninius darbus
Exec=gtimelog
Terminal=false
Type=Application
StartupNotify=true
Icon=gtimelog
Categories=Utility;
