[Desktop Entry]
Name=Time Tracker
Comment=Track and time daily activities
Exec=gtimelog
Terminal=false
Type=Application
StartupNotify=true
Icon=gnome-week.png
Categories=Application;Utility
