include *.rst
include Makefile
include gtimelog
include gtimelog.desktop
include gtimelogrc.example
include runtests
include scripts/*.py
include tox.ini
include .travis.yml
recursive-include src *.png *.ui
