include COPYING
include *.rst *.txt
include Makefile *.mk
include gtimelog
include gtimelog.desktop
include gtimelog.desktop.in
include gtimelog.appdata.xml
include runtests
include tox.ini
include appveyor.yml
include .coveragerc
include .gitignore
include .gitattributes
include benchmark.py
recursive-include src *.png *.ui *.xml *.css *.rst gschemas.compiled
recursive-include docs *.png *.rst *.css Makefile
recursive-include scripts *.py *.rst
recursive-include src/gtimelog/po *.po *.pot *.in
recursive-include flatpak *.yaml

prune docs/build
prune src/gtimelog/locale
