# runtime dependencies
python-gobject
python-gi-cairo
gir1.2-gtk-3.0
gir1.2-soup-3.0
gir1.2-secret-1

# build dependencies
python-docutils  # for rst2man
libglib2.0-bin   # for glib-compile-schemas
gettext          # for msgfmt

# test dependencies (in a clean VM, so you have GTK+ themes etc.)
dbus-x11
gnome-themes-standard
gnome-icon-theme-full
gnome-icon-theme-symbolic
libcanberra-gtk3-module
gedit
